<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Playground</title>
</head>
<body>
    <h1 style="color:{{color}}; text-align:center;">Welcome!</h1>
        
    <wrapper id="wrapper" style="max-width:950px; display: flex; justify-content:space-between; flex-wrap: wrap;">
            
    {% for i in range(num): %}
        <div class = "box" style="height:200px; width:200px; background-color:{{color}}; margin: 20px; border-radius:10%;"></div>
    {% endfor %}
    
</body>
</html>