<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Playground</title>
</head>
<body>
    <h1 style="color:skyblue; text-align:center;">Welcome!</h1>

    <wrapper id="wrapper" style="max-width:950px; display: flex; justify-content:space-between">
    <div class = "box" style="height:200px; width:200px; background-color: skyblue; margin: 20px; border-radius:10%;"></div>
    <div class = "box" style="height:200px; width:200px; background-color: skyblue; margin: 20px; border-radius:10%;"></div>
    <div class = "box" style="height:200px; width:200px; background-color: skyblue; margin:20px; border-radius:10%;"></div>
    </wrapper>
</body>
</html>

